.bg_img{
	background-image: url(../img/skypixel-auth-bg.def7b558.jpg);
	background-size: cover;
	background-repeat:no-repeat ;
	background-position: 50%;
}
.bg_height{
	height: 780px;
}
.section_right{
	width: 56%;
	margin-left: 9%;
	margin-top: 100px;
}
.font1_style{
	color: #4b4b4b;
	font-size: 0.6rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
}
.font2_style{
	font-size: 0.6rem;
	color: #333333;
	cursor: pointer;
}
.w-70{
	width: 70% !important;
}
.right_button_color1{
	background-color: #1088f2;
}
.right_button_color1:hover{
	background-color: #1172c7;
}
.right_bottom_text{
	color: #333;
	font-size: 0.6rem;
}
.right_bottom_text:hover{
	text-decoration: none;
	color: #333333;
}
.right_button2_style{
	margin-top: 1.6rem;
	border: 0;
	color: #FFFFFF;
	font-weight: 600;
	border-radius: 0.2rem;
	font-size: 0.6rem;
	padding: 0.8rem 0;
	cursor: pointer;
}
.right_button2_style:focus{
	outline: 0;
}
.right_img{
	cursor: pointer;
}
.form-control:focus {
  border-color: #4B4B4B !important;
  box-shadow: 0 0 0 0 #4B4B4B !important;
}
.right_password{
	color: #1088f2;
	font-size: 12px;
}
.right_password:hover{
	color: #1088f2;
}
.font_bottom_text{
	color: #707473;
	font-size: .6rem;
}
.font_bottom_a{
	color: #1088F2;
	font-size: 0.6rem;
}
.font_bottom_a:hover{
	color: #1088F2;
}
.sign_bottom_xian{
	height: 0.75rem;
	border-bottom: 1px solid #F7F7F7;
	text-align: center;
}
.sign_bottom_xian>span{
	color: #707473;
	font-size: 0.7rem;
}
.right_bottom_logo1{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: rgba(	119,136,153,0.1);
	color: #666;
	cursor: pointer;
}
.right_bottom_logo1:hover{
	background-color: red;
	color: #FFFFFF;
}
.right_bottom_logo2{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: rgba(	119,136,153,0.1);
	color: #666;
	cursor: pointer;
}
.right_bottom_logo2:hover{
	background-color: green;
	color: #FFFFFF;
}
.right_bottom_xinlang{
	line-height: 40px !important;
}
.right_bottom_weixin{
	line-height: 40px !important;
}